<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css"
          href="lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css"
          href="static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css"
          href="static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript"
            src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <!--vue-->
    <script src="vue/axios.min.js"></script>
    <script src="vue/vue.min.js"></script>
    <!--vue-->

    <title>店铺列表</title>
    <style>
        #div1 {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span
        class="c-gray en">&gt;</span> 商家管理 <span class="c-gray en">&gt;</span>
    店铺列表 <a class="btn btn-success radius r"
            style="line-height:1.6em;margin-top:3px"
            href="javascript:location.replace(location.href);" title="刷新"><i
            class="Hui-iconfont">&#xe68f;</i></a></nav>


<div class="page-container" id="table">
    <!--多条件查询/-->

    <div class="text-c">
        <div>
            店铺编号:&nbsp;<input type="text" name="shopId" placeholder=" 店铺编号"
                              style="width:250px" class="input-text"
                              v-model="shop.shopId">
            店铺名称:&nbsp;<input type="text" name="shopName" placeholder=" 店铺名称"
                              style="width:250px" class="input-text"
                              v-model="shop.shopName">
            店铺简称:&nbsp;<input type="text" name="shortName" placeholder=" 店铺简称"
                              style="width:250px" class="input-text"
                              v-model="shop.shortName">
        </div>
        <div id="div1">
            &nbsp;店主账号:&nbsp;<input type="text" name="account"
                                    placeholder=" 店铺账号"
                                    style="width:250px" class="input-text"
                                    v-model="shop.bisShopUser.account">
            营业执照:&nbsp;<input type="text" name="shopLicense"
                              placeholder=" 营业执照号"
                              style="width:250px" class="input-text"
                              v-model="shop.shopLicense">
            <span class="inline">店铺状态:&nbsp;</span>
            <select name="showStatus" class="select" style="width:250px"
                    class="input-text" id="sel">
                <option value="" selected="selected">请选择店铺状态</option>
                <option value="1" class="input-text">启用</option>
                <option value="0" class="input-text">禁用</option>
            </select>
        </div>
        <button class="btn btn-success" type="submit" @click="getCond(shop)">
            <i class="Hui-iconfont">&#xe665;</i> 查询
        </button>
        <button onclick="removeIframe()" class="btn btn-primary radius">
            关闭选项卡
        </button>
    </div>

    <!--多条件查询/-->
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"><a
            href="javascript:;" onclick="datadel()"
            class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i>批量删除</a> <a
            class="btn btn-primary radius" data-title="新增"
            data-href="business-add.html" onclick="Hui_admin_tab(this)"
            href="javascript:;"><i
            class="Hui-iconfont">&#xe600;</i>新增</a></span> <span class="r">
        共有数据：<strong>54</strong> 条</span>
    </div>


    <!--表格-->
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">店铺编号</th>
                <th width="80">店铺名称</th>
                <th width="80">店铺简称</th>
                <th width="80">店主账号</th>
                <th width="80">店铺法人</th>
                <th width="120">营业执照号</th>
                <th width="80">店铺电话</th>
                <th width="40">状态</th>
                <th width="40">排序号</th>
                <th width="120">更新时间</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" v-for="shop in shops">
                <td><input type="checkbox" value="" name=""></td>
                <td>{{shop.shopId}}</td><!--编号-->
                <td>{{shop.shopName}}</td><!--名称-->
                <td>{{shop.shortName}}</td><!--简称-->
                <td>{{shop.bisShopUser.account}}</td><!--店主账号-->
                <td>{{shop.bisShopUser.username}}</td><!--法人-->
                <td>{{shop.shopLicense}}</td><!--营业执照-->
                <td>{{shop.shopPhone}}</td><!--电话-->

                <td v-if="shop.showStatus=='1'">启用</td><!--状态-->
                <td v-else>禁用</td><!--状态-->

                <td>{{shop.sortNo}}</td><!--排序号-->
                <td>{{shop.modifyTime}}</td><!--更新时间-->
            </tr>
            </tbody>
        </table>
    </div>
    <!--表格/-->
</div>


<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript"
        src="static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript"
        src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript"
        src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    var table = new Vue({
        el: "#table",
        data: {
            /*all shops list*/
            shops: [],
            /*多条件查询*/
            shop: {
                 bisShopUser: {}
            },
        },
        methods: {
            getCond(shop) {
                this.shop = shop;
                var showStatus = $("#sel").val();
                this.shop.showStatus = showStatus;
                var that = this;
                axios.post('getShopsByCond', this.shop)
                    .then(function (response) {
                        console.log(response);
                        that.shops = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        created() {
            var that = this;
            axios.get('findAllShops')
                .then(function (response) {
                    console.log(response);
                    that.shops = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    });

    /*---------------------------------------------------------------------*/
    // $('.table-sort').dataTable({
    //     "aaSorting": [[1, "desc"]],//默认第几个排序
    //     "bStateSave": true,//状态保存
    //     "pading": false,
    //     "aoColumnDefs": [
    //         //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
    //         {"orderable": false, "aTargets": [0, 8]}// 不参与排序的列
    //     ]
    // });

    /*资讯-添加*/
    function article_add(title, url, w, h) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*资讯-编辑*/
    function article_edit(title, url, id, w, h) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*资讯-删除*/
    function article_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function (data) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /*资讯-审核*/
    function article_shenhe(obj, id) {
        layer.confirm('审核文章？', {
                btn: ['通过', '不通过', '取消'],
                shade: false,
                closeBtn: 0
            },
            function () {
                $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                $(obj).remove();
                layer.msg('已发布', {icon: 6, time: 1000});
            },
            function () {
                $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                $(obj).remove();
                layer.msg('未通过', {icon: 5, time: 1000});
            });
    }

    /*资讯-下架*/
    function article_stop(obj, id) {
        layer.confirm('确认要下架吗？', function (index) {
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
            $(obj).remove();
            layer.msg('已下架!', {icon: 5, time: 1000});
        });
    }

    /*资讯-发布*/
    function article_start(obj, id) {
        layer.confirm('确认要发布吗？', function (index) {
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
            $(obj).remove();
            layer.msg('已发布!', {icon: 6, time: 1000});
        });
    }

    /*资讯-申请上线*/
    function article_shenqing(obj, id) {
        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
        $(obj).parents("tr").find(".td-manage").html("");
        layer.msg('已提交申请，耐心等待审核!', {icon: 1, time: 2000});
    }

</script>
</body>
</html>