<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css"
          href="lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css"
          href="static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css"
          href="static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript"
            src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <!--vue-->
    <script src="vue/axios.min.js"></script>
    <script src="vue/vue.min.js"></script>
    <!--vue-->
    <title>店主列表</title>
    <style>
        #div1 {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>
    首页 <span class="c-gray en">&gt;</span> 商家管理 <span class="c-gray en">&gt;</span>
    店主列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>


<div class="page-container" id="table">
    <!--多条件查询/-->
    <div class="text-c">
        <div>
            店主账号:&nbsp;<input type="text" name="shopId" placeholder=" 店主账号"
                              style="width:250px"
                              class="input-text" v-model="owner.account">
            姓&emsp;名:&nbsp;<input type="text" name="shopName"
                                  placeholder=" 姓名"
                                  style="width:250px"
                                  class="input-text"
                                  v-model="owner.username">
            邮&emsp;箱:&nbsp;<input type="text" name="shortName"
                                  v-model="owner.email"
                                  placeholder=" 邮箱"
                                  style="width:250px"
                                  class="input-text">
        </div>
        <div id="div1">
            &nbsp;手机号码:&nbsp;<input type="text" name="account"
                                    placeholder=" 手机号码"
                                    style="width:250px"
                                    class="input-text"
                                    v-model="owner.mobile">
            身份证:&nbsp;<input type="text" name="shopLicense"
                             placeholder=" 身份证"
                             style="width:250px"
                             class="input-text" v-model="owner.idno">
            <span class="inline">状&emsp;态:</span>
            <select class="select"
                    style="width:250px" autocomplete="off"
                    class="input-text" id="sel">
                <option value="" class="input-text" selected="selected">
                    是否在职
                </option>
                <option value="1" class="input-text">在职</option>
                <option value="0" class="input-text">离职</option>
            </select>
        </div>
        <button class="btn btn-success" type="submit"
                @click="getCond(owner)">
            <i class="Hui-iconfont">&#xe665;</i> 查询
        </button>
        <button onclick="removeIframe()" class="btn btn-primary radius">
            关闭选项卡
        </button>
    </div>
    <!--多条件查询/-->

    <!--crud-->
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <!--批量删除-->
        <a href="javascript:;" @click="deleteOwner()"
           class="btn btn-danger radius">
            <i class="Hui-iconfont">&#xe6e2;</i>批量删除</a>
            <!--添加-->
		<a class="btn btn-primary radius"
           @click="addOwnersModal()"
           href="javascript:;">
            <i class="Hui-iconfont">&#xe600;</i>添加</a>
            <!--密码重置-->
            <a class="btn btn-warning-outline radius"
               @click="changePwd()"
               href="javascript:;">
            <i class="Hui-iconfont">&#xe63f;</i>密码重置</a>
        </span>

        <span class="r">
        共有数据：<strong v-model="" v-text=""></strong> 条
        </span>
    </div>
    <!--crud-->

    <!--表格-->
    <div class="mt-20">
        <form id="form">
            <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
                <thead>
                <tr class="text-c">
                    <th width="25"><input type="checkbox"></th>
                    <th width="80">店主账号</th>
                    <th width="80">姓名</th>
                    <th width="80">性别</th>
                    <th width="80">手机</th>
                    <th width="110">身份证</th>
                    <th width="100">邮箱</th>
                    <th width="80">电话</th>
                    <th width="40">状态</th>
                    <th width="100">创建时间</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c" v-for="owner in owners">
                    <td><input type="checkbox" class="ids" name="ownerIds"
                               :value="owner.shopUserId"></td>
                    <td>{{owner.account}}</td><!--账号-->
                    <td>{{owner.username}}</td><!--姓名-->

                    <td v-if="owner.sex == '1'">男</td><!--性别-->
                    <td v-else-if="owner.sex == '2'">女</td><!--性别-->
                    <td v-else>未知</td><!--性别-->

                    <td>{{owner.mobile}}</td><!--手机-->
                    <td>{{owner.idno}}</td><!--身份证-->
                    <td>{{owner.email}}</td><!--邮箱-->
                    <td>{{owner.phone}}</td><!--电话-->

                    <td v-if="owner.status==1">在职</td><!--状态-->
                    <td v-else>离职</td><!--状态-->

                    <td>{{owner.createTime}}</td><!--创建时间-->
                    <td class="f-14">
                        <a title="编辑" href="javascript:;" v-model="owner.shopUserId" @click="showModal(owner)" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                        <a title="删除" href="javascript:;" @click="delOwnerById(owner.shopUserId)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!--表格/-->

    <!--密码重置-->
    <div id="modal-demo3" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <!--标题-->
                <div class="modal-header">
                    <h3 class="modal-title">密码重置</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true"
                       href="javascript:void();">×</a>
                </div>
                <!--主体-->
                <div class="modal-body">
                    <form class="form form-horizontal">

                        <!--密码-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>密码：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       placeholder="密码">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>确认密码：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       placeholder="确认密码">
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button">确定
                    </button>
                    <button class="btn" data-dismiss="modal"
                            aria-hidden="true">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--添加弹出框-->
    <div id="modal-demo2" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <!--标题-->
                <div class="modal-header">
                    <h3 class="modal-title">添加新店主</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true"
                       href="javascript:void();">×</a>
                </div>
                <!--主体-->
                <div class="modal-body">
                    <form class="form form-horizontal" id="form-article-add2">
                        <!--店主账号-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>店主账号：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7 skin-minimal">
                                <input type="text" class="input-text"
                                       v-model="addOwner.account"
                                       placeholder="店主账号">
                            </div>
                        </div>
                        <!--店主姓名-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>姓名：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       v-model="addOwner.username"
                                       placeholder="店主姓名">
                            </div>
                        </div>
                        <!--密码-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>密码：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       placeholder="密码"
                                       v-model="addOwner.password">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>确认密码：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       placeholder="确认密码" v-model="addOwner.password">
                            </div>
                        </div>
                        <!--性别-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>性别：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                        <span class="select-box">
                          <select class="select" size="1"
                                  v-model="addOwner.sex">>
                              <option value="-1">您的性别</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                            <option value="0">保密</option>
                          </select>
                        </span>
                            </div>
                        </div>
                        <!--手机号码-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>手机号码：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       placeholder="手机号码"
                                       v-model="addOwner.mobile">
                            </div>
                        </div>
                        <!--身份证-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>身份证：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       placeholder="身份证"
                                       v-model="addOwner.idno">
                            </div>
                        </div>
                        <!--邮箱-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>邮箱：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       placeholder="邮箱"
                                       v-model="addOwner.email">
                            </div>
                        </div>
                        <!--电话-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>电话：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       placeholder="电话"
                                       v-model="addOwner.phone">
                            </div>
                        </div>
                        <!--状态-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">状态：</label>
                            <div class="formControls col-xs-8 col-sm-7 skin-minimal">
                       <span class="select-box">
                          <select class="select" size="1" name="demo1"
                                  v-model="addOwner.status">
                            <option value="2">请选择店铺状态</option>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                          </select>
                        </span>

                            </div>
                        </div>
                        <!--备注-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>备注：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <textarea type="text" v-model="addOwner.remark"
                                          class="	textarea radius ">
                                </textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" @click="addOwnerFunc(addOwner)">确定
                    </button>
                    <button class="btn" data-dismiss="modal"
                            aria-hidden="true">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--修改弹出框-->
    <div id="modal-demo" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <!--标题-->
                <div class="modal-header">
                    <h3 class="modal-title">修改店主信息</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true"
                       href="javascript:void();">×</a>
                </div>
                <!--主体-->
                <div class="modal-body">
                    <form class="form form-horizontal" id="form-article-add">
                        <!--店主账号-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>店主账号：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7 skin-minimal">
                                <input type="text" class="input-text"
                                       v-model="updOwner.account"
                                       disabled="disabled">
                            </div>
                        </div>
                        <!--店主姓名-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>姓名：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       v-model="updOwner.username"
                                       placeholder="">
                            </div>
                        </div>
                        <!--性别-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>性别：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                        <span class="select-box">
                          <select class="select" size="1"
                                  v-model="updOwner.sex">
                            <option :value="1">男</option>
                            <option :value="2">女</option>
                            <option :value="0">保密</option>
                          </select>
                        </span>
                            </div>
                        </div>
                        <!--手机号码-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>手机号码：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       v-model="updOwner.mobile"
                                       placeholder="">
                            </div>
                        </div>
                        <!--身份证-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>身份证：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       v-model="updOwner.idno"
                                       disabled="disabled">
                            </div>
                        </div>
                        <!--邮箱-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>邮箱：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text"
                                       v-model="updOwner.email"
                                       placeholder="">
                            </div>
                        </div>
                        <!--电话-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>电话：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <input type="text" class="input-text" value=""
                                       placeholder=""
                                       id="keywords" name="keywords"
                                       v-model="updOwner.phone">
                            </div>
                        </div>
                        <!--状态-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">状态：</label>
                            <div class="formControls col-xs-8 col-sm-7 skin-minimal">
                       <span class="select-box">
                          <select class="select" size="1" name="demo1"
                                  v-model="updOwner.status">
                            <option value="2">请选择店铺状态</option>
                            <option value="1">在职</option>
                            <option value="0">离职</option>
                          </select>
                        </span>

                            </div>
                        </div>
                        <!--备注-->
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">
                                <span class="c-red">*</span>备注：
                            </label>
                            <div class="formControls col-xs-8 col-sm-7">
                                <textarea type="text"
                                          class="	textarea radius ">
                                </textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button"
                            @click="updateOwner(updOwner)">确定
                    </button>
                    <button class="btn" data-dismiss="modal"
                            aria-hidden="true">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript"
        src="static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript"
        src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript"
        src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    var table = new Vue({
        el: "#table",
        data: {
            /*all owners list*/
            owners: [],
            owner: {},
            /*模态框显示*/
            updOwner: {},
            size: '',
            /*修改后*/
            ownerUpdated: {},
            addOwner: {
                status:'2',
                sex:'-1'
            }
        },
        methods: {
            /*条件查询*/
            getCond(owner) {
                this.owner = owner;
                var status = $("#sel").val();
                this.owner.status = status;
                var that = this;
                axios.post('getOwnersByCond', this.owner)
                    .then(function (response) {
                        console.log(response);
                        that.owners = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            /*添加-模态框*/
            addOwnersModal() {
                $("#modal-demo2").modal("show");
            },
            /*添加*/
            addOwnerFunc(addOwner){
                this.addOwner = addOwner;
                var that = this;
                axios.post('addOwner', this.addOwner)
                    .then(function (response) {
                        console.log(response);
                        that.owners = response.data;
                        $("#modal-demo2").modal("hide");
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            /*批量删除*/
            deleteOwner() {
                var flag = false;
                $(".ids").each(function () {
                    if (this.checked) {
                        flag = true;
                    }
                });
                if (flag) {
                    var ids = $("#form").serialize();
                    alert(ids);
                    var that = this;
                    axios.post('delOwner', ids)
                        .then(function (response) {
                            console.log(response);
                            that.owners = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else {
                    alert("请选择要删除的店主账号!");
                }



            },
            /*删除*/
            delOwnerById(shopUserId) {
                var that = this;
                axios.post('delOwnerById?shopUserId=' + shopUserId)
                    .then(function (response) {
                        console.log(response);
                        that.owners = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });



            },
            /*修改模态框*/
            showModal(owner) {
                this.updOwner = owner;
                $("#modal-demo").modal("show");
            },
            /*修改*/
            updateOwner(updOwner) {
                this.ownerUpdated = updOwner;
                axios.post('updOwner', this.ownerUpdated)
                    .then(function (response) {
                        $("#modal-demo").modal("hide");
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            /*密码重置*/
            changePwd() {
                $("#modal-demo3").modal("show");
            }
        },
        created() {
            var that = this;
            axios.get('getAllOwners')
                .then(function (response) {
                    console.log(response);
                    that.owners = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            // axios.get('getOwnerCount')
            //     .then(function (response) {
            //         console.log(response);
            //         that.size = response.data;
            //     })
            //     .catch(function (error) {
            //         console.log(error);
            //     });
        }
    });


    /*---------------------------------------------------------------------*/
    // $('.table-sort').dataTable({
    //     "aaSorting": [[1, "desc"]],//默认第几个排序
    //     "bStateSave": true,//状态保存
    //     "pading": false,
    //     "aoColumnDefs": [
    //         //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
    //         {"orderable": false, "aTargets": [0, 8]}// 不参与排序的列
    //     ]
    // });

    /*资讯-添加*/
    function article_add(title, url, w, h) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*资讯-编辑*/
    function article_edit(title, url, id, w, h) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*资讯-删除*/
    function article_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function (data) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /*资讯-审核*/
    function article_shenhe(obj, id) {
        layer.confirm('审核文章？', {
                btn: ['通过', '不通过', '取消'],
                shade: false,
                closeBtn: 0
            },
            function () {
                $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                $(obj).remove();
                layer.msg('已发布', {icon: 6, time: 1000});
            },
            function () {
                $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                $(obj).remove();
                layer.msg('未通过', {icon: 5, time: 1000});
            });
    }

    /*资讯-下架*/
    function article_stop(obj, id) {
        layer.confirm('确认要下架吗？', function (index) {
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
            $(obj).remove();
            layer.msg('已下架!', {icon: 5, time: 1000});
        });
    }

    /*资讯-发布*/
    function article_start(obj, id) {
        layer.confirm('确认要发布吗？', function (index) {
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
            $(obj).remove();
            layer.msg('已发布!', {icon: 6, time: 1000});
        });
    }

    /*资讯-申请上线*/
    function article_shenqing(obj, id) {
        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
        $(obj).parents("tr").find(".td-manage").html("");
        layer.msg('已提交申请，耐心等待审核!', {icon: 1, time: 2000});
    }

</script>
</body>
</html>